.light .project-modal__link {
  color: #102031;
}

@media screen and (min-width: 0px) {
  .projects-modal {
    max-height: 85vh;
  }

  .projects-modal__header,
  .projects-modal__body {
    flex-direction: column;
  }

  .projects-modal__body iframe {
    height: 25rem;
    width: 100%;
  }

  .projects-modal__body {
    overflow: scroll;
  }

  .projects-modal__spacer {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 800px) {
  .projects-modal {
    max-height: 95vh;
  }

  #projects-modal__image--hover {
    transition: transform 5000ms !important;
  }
  #projects-modal__image--hover:hover {
    transform: translateY(calc(-100% + 24rem));
  }

  .projects-modal__image-crop,
  .projects-modal__body iframe {
    overflow: hidden;
    max-height: 25rem;
  }

  .projects-modal__body iframe {
    width: 30rem;
  }

  .projects-modal__spacer {
    margin-left: 1rem;
    margin-top: 0;
  }

  .projects-modal__header,
  .projects-modal__body {
    flex-direction: row;
  }

  .projects-modal__image-crop {
    width: 100%;
  }

  .projects-modal__text {
    max-width: 50%;
  }
}

@media screen and (min-width: 1440px) {
}
